<div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="index.html"><img src="assets/static/images/logo/logo.svg" alt="Viju's" srcset=""></a>
            </div>
            <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                <div class="form-check form-switch fs-6">
                    <input class="form-check-input me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                    <label class="form-check-label"></label>
                </div>
            </div>
            <div class="sidebar-toggler x">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Viju's Restaurant</li>
            <li class="sidebar-item {{ 'active' if filename == 'index.html' }}">
                <a href="index.html" class='sidebar-link'>
                    <i class="bi bi-house"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item {{ 'active' if filename == 'menu.html' }}">
                <a href="menu.html" class='sidebar-link'>
                    <i class="bi bi-card-checklist"></i>
                    <span>Menu</span>
                </a>
            </li>
            <li class="sidebar-item {{ 'active' if filename == 'revenue.html' }}">
                <a href="revenue.html" class='sidebar-link'>
                    <i class="bi bi-graph-up"></i>
                    <span>Revenue</span>
                </a>
            </li>
            <li class="sidebar-item {{ 'active' if filename == 'ingredients.html' }}">
                <a href="ingredients.html" class='sidebar-link'>
                    <i class="bi bi-basket"></i>
                    <span>Ingredients</span>
                </a>
            </li>
        </ul>
    </div>
</div>